{
  "presets": ["./src/apollos/babel-preset-apollos"],
  "plugins": [
    ["module-resolver", { "alias": { "apollos": "./src/apollos" } }]
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
