name: CI

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2

    - name: Install Dependencies
      run: npm ci --ignore-scripts

    - name: Lint
      run: npm run lint

  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2

    - name: Install Dependencies
      run: npm ci --ignore-scripts

    - name: Jest
      run: npm test -- -- -- --forceExit

    - name: Codecov
      uses: codecov/codecov-action@v1
