name: Publish Schema

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1

      - name: Publish Schema
        run: npx apollo schema:publish --endpoint=${{ secrets.APP_DATA_URL }}
        env:
          ENGINE_API_KEY: ${{ secrets.ENGINE_API_KEY }}
